<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Food Details</title>
    </head>
    <body>
        <h1>Food Details</h1>
        <table>
            <tr>
                <th>ID</th>
                <td>{{ food.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ food.name }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ food.price }}</td>
            </tr>
            <tr>
                <th>Rating</th>
                <td>{{ food.rating }}</td>
            </tr>
        </table>
    </body>
</html>