<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <h1>Please Sign In</h1>
        {% if error %}
        <p>{{ error }}</p>
        {% endif %}
        <br>
        <form method="POST" action="{{ url_for('index') }}">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            <br>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            <br>
            <input type="submit" value="Login">
        </form>
        <br>
        <p>Not registered? Click here to <a
                href="{{ url_for('register') }}">register</a>.</p>
        <br>
        <h3>Available Endpoints</h2>
        <ul>
            <li><a href="{{ url_for('register') }}">Register</a> - Register a
                new user.</li>
            <li><a href="{{ url_for('home') }}">Home</a> - View all food and
                logout, requires login.</li>
            <li><a href="{{ url_for('database_view') }}">Database</a> - View
                all users and food.</li>
        </ul>
    </body>
</html>